@import "tailwindcss";


@theme {
  --color-dark-blue: #2c3e50;
  --color-medium-blue: #34495e;
  --color-warm-orange: #d35400;
  --color-light-orange: #e67e22;
  --color-light-gray: #7f8c8d;
  --color-lighter-gray: #ecf0f1;
}



:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
